<div class="container-fluid">
    <div class="text-center header">
        <img src="assets/img/burger.png" height="200px" alt="burger">
        <h1>Eat-Da-Burger!</h1>
    </div>



    <div class="row" id="div1">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h2 class="card-title">Ready to Eat!</h2>
                    </div>
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-block devour=true}}
                        {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h2 class="card-title">Devoured!</h2>
                    </div>
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burgers/burger-block devour=false}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm">
            <div class="card" id="div2">
                <div class="card-body">
                    <div class="card-header">
                        <h2 class="card-title">Make a New Burger!</h2>
                    </div>
                    <form class="create-form">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Enter a burger you want to eat. Then click the "Submit" button.</label>
                            <input type="text" class="form-control" id="newBurger" placeholder="Big Mac">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>