
<div class="container">
    <div class="row">
        <div class="col-sm mt-3">
            {{burger_name}}
        </div>
        <div class="col-sm mt-3 mr-5">
            {{#unless devoured}}
            <button class="devour btn btn-primary" data-id="{{id}}">
                Devour it!
            </button>
            {{/unless}}
            {{#if devoured}}
            <button class="delete-burger btn btn-primary" data-id="{{id}}">
                Delete!
            </button>
            {{/if}}
        </div>
    </div>
    <hr>
</div>